<nav id="sidebar-nav-links">
  <div class="sidebar-nav">
            <ul class="sidebar-ul">
                <li class="sidebar-li"><a href="{{ site.base_url }}#introduction">Introduction</a></li>
                <li class="sidebar-li"><a href="#download">Download</a></li>
                <li class="sidebar-li"><a href="#usage">Usage</a></li>
                <li class="sidebar-li"><a href="#licence">Licence</a></li>
                <li class="sidebar-li"><a href="customizations.html">Customizations</a></li>
                <li class="sidebar-li"><a href="#">Java Docs</a></li>
            </ul>
        </div>
</nav>
