<div class="sidebar">
    <div class="sidebar-content">
        <div class="site-title"><span>{{ site.title }}</span></div>
        <div class="site-desc"><span>{{ site.description }}</span></div>
        <div class="sidebar-nav">
            <ul class="sidebar-ul">
                <li class="sidebar-li"><a href="#">Introduction</a></li>
                <li class="sidebar-li"><a href="#">Documentation</a></li>
                <li class="sidebar-li"><a href="#">Download</a></li>
                <li class="sidebar-li"><a href="#">Usage</a></li>
                <li class="sidebar-li"><a href="#">Licence</a></li>
            </ul>
        </div>
    <div class="site-version"><span>Currently {{ site.version }}</span></div>
    <div class="site-github"><span>Fork me on <a href="">Github</a>.</span></div>
    <div class="site-copyright"><span>&copy; 2018. <a href="{{ site.github_profile }}">Birju Vachhani</a></span></div>
    </div>
</div>