<div class="container-sidebar">
    <div class="site-logo" align="center">
        <img class="logo-img" src="{{ "/assets/images/logo.png" | relative_url }}" alt="site-logo" ></img>
    </div>
    
    <div class="site-title">{{ site.title }}</div>
    <div class="sidebar-nav">
        <ul class="sidebar-ul">
            <li class="sidebar-li"><a href="#">Introduction</a></li>
            <li class="sidebar-li"><a href="#">Customization</a></li>
            <li class="sidebar-li"><a href="#">Download</a></li>
            <li class="sidebar-li"><a href="#">Documentation</a></li>
            <li class="sidebar-li"><a href="#">License</a></li>
            <li class="sidebar-li"><a href="#">Github Repository</a></li>
        </ul>
    </div>
    
</div>